<footer id="footer">
	<p><%= link_to "Home", root_path %> :: <%= link_to "About Us", pages_AboutUs_path %> :: <%= link_to "Contact Us", pages_ContactUs_path %> :: <%= link_to "Privacy Policy", pages_PrivacyPolicy_path %>
        </p>
</footer>